nav li {
	display: inline-block;
	margin: 0 20px;
}
ul {
	float: right;
}
a {
	color: #333333;
	text-decoration: none;

}
body {
background-color: #ececec;
color: #333333;
padding: 20px;
}
i {
	color: #f5afbe;
	float: left;
}
nav span {
	font-family: 'Cookie', cursive;
	display: inline-block;
	margin-top: 28px;
}
header {
	text-align: center;
	color: #333333;
}
header span {
	color: #F492A5;
}
#sunset {
	width: 100%;
	padding: 0 5px;
	text-align: center;
}
#sunset img {
	width: 95%;
	height: 250px;
	border-radius: 6px;
}
.info {
	width: 40%;
	float: left;
	margin-left: 10%;
	text-align: left;
}
.info h3{
	color: #F5AFBE;
}
div.photos {
	display: inline-block;
	width: 15%;
	float: left;
	border-radius: 5px;
	background-color: #fff;
	margin: 0 2%
	
}
.photos img {
width: 100%;
height: 100px;
}
div.photos.first {
	margin-left: 5%;
}
div.photos.last {
	margin-right: 5%;
}
#thanks {
	text-align: center;
	color: #F5AFBE; 
}
footer {
	height: 300px;
	background: #2D2D2D;
	vertical-align: text-top;
}
#contact {
color: #F5AFBE; 
 width: 50%;
 float: left;
}
#contact input, #contact textarea{
	background-color: #D7D7D7;
	vertical-align: text-bottom;
	margin: 5px 0;
	width: 250px;

}
#social {
	margin-top: 130px;
	float: right;
}
#social i {
	color: #2D2D2D;
	background: #F5AFBE;
	
}